body {
  background-image: url('images/background.jpg');
  width: 100% !important;
  height: 100vh;
  position: relative;
  background-position:center; 
  background-attachment:scroll; 
  -o-background-size:cover; 
  -moz-background-size:cover; 
  -webkit-background-size:cover; 
  background-size:cover; 
  background-repeat:no-repeat;
}

.container {
  margin: 0 auto;
  width: 40%;
  
}

h4  {
  color: black;
  font-weight: bolder;
}


h3, li{
  color: white;
  font-weight: bolder;
}


@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }
   
}
