body {
  margin: 0 auto;
  width: 50%;
  background-image: url('images/background.jpg');
  width: 100% !important;
  height: 800px;
  position: relative;
  background-position:center; 
  background-attachment:scroll; 
  -o-background-size:cover; 
  -moz-background-size:cover; 
  -webkit-background-size:cover; 
  background-size:cover; 
  background-repeat:no-repeat;
}

h3, h4, li {
  color: white;
}


@media (max-width: 767px) {
  body {
    margin: 0 auto;
    width: 90%;
  }
   
}
